<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu título aquí</title>
    <!-- CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
</head>
<body>
  <div style="margin-top: -90px;">
    <div style="text-align: center;">
        <img src="{{ url_for('static', filename='img/nexa_logo.png') }}" alt="Descripción de la imagen" style="width: 400px;">
    </div>
     <div class="form-container">
         <!-- Animacion de carga -->
        <div id="loader" class="loader" style="display: none;"></div>

        <form action="{{ url_for('submit') }}" method="post">
            <div class="infopersonal">
                <label for="preferencias"></label>
                <div>Escribe tus preferencias:</div>
                <textarea id="preferencias" name="preferencias" rows="4" cols="50"></textarea>
                 </div>


            <div class="question-container">
                <div class="label-container">
                    <label for="Tamano_de_pantalla">¿Qué Tamaño de pantalla prefieres?</label>
                    <select id="Tamano_de_pantalla" name="Tamano_de_pantalla">
                        <option value="Grande">Grande</option>
                        <option value="Mediana">Mediana</option>
                        <option value="Pequeno">Pequeño</option>
                    </select>
                </div>
            </div>

            <div class="question-container">
                <div class="label-container">
                    <label for="Calidad_de_camara">¿Calidad de camara?</label>
                    <select id="Calidad_de_camara" name="Calidad_de_camara">
                        <option value="Muy_bueno">Muy bueno</option>
                        <option value="Bueno">Bueno</option>    
                        <option value="Basico">Básico</option>
                    </select>
                </div>
            </div>

            <div class="question-container">
                <div class="label-container">
                    <label for="bateria">¿Qué importancia le das a la duración de la batería?</label>
                    <select id="bateria" name="bateria">
                        <option value="Muy_bueno">Muy bueno</option>
                        <option value="Bueno">Bueno</option>    
                        <option value="Basico">Básico</option>
                    </select>
                </div>
            </div>

            <div class="question-container">
                <div class="label-container">
                    <label for="Rendimiento">¿Qué importancia le das al rendimiento?</label>
                    <select id="Rendimiento" name="Rendimiento">
                        <option value="Muy_bueno">Muy bueno</option>
                        <option value="Bueno">Bueno</option>    
                        <option value="Basico">Básico</option>
                    </select>
                </div>
            </div>

            <div class="question-container">
                <div class="label-container">
                    <label for="calidad_const">¿Qué importancia le das al estilo y materiales?</label>
                    <select id="calidad_const" name="calidad_const">
                        <option value="Muy_bueno">Muy bueno</option>
                        <option value="Bueno">Bueno</option>    
                        <option value="Basico">Básico</option>
                    </select>
                    </div>
                    </div>
                            <div class="question-container">
                                <div class="label-container">
                                    <label for="presuspuesto">¿Qué rango de precio prefieres?</label>
                                    <select id="presuspuesto" name="presupuesto">
                                        <option value="Gama_alta">Gama alta</option>
                                        <option value="Gama_media">Gama media</option>
                                        <option value="Gama_baja">Gama baja</option>
                                    </select>
                                </div>
                            </div>
                    
                            <input type="submit" value="Enviar">
                        </form>
                    </div>
                      </div>
                      <!-- jQuery -->
                      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                      <!-- Popper.js -->
                      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
                      <!-- JavaScript de Bootstrap -->
                      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                       <!-- animaciones -->
                     <script src="{{ url_for('static', filename='js/script.js') }}"></script>

                    </body>
                    </html>
