<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultado_styles.css') }}">
</head>
<body>
    <div class="productos-container">
        {% for producto in productos %}
            <div class="producto">
                <h1>{{ producto.nombre }}</h1>
                <img src="{{ producto.imagen }}" alt="{{ producto.nombre }}" />
                <p>{{ producto.descripcion }}</p>
                <a href="{{ producto.url }}" class="boton-comprar" target="_blank">Comprar</a>
            </div>
        {% endfor %}
    </div>
</body>
</html>
